::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #d1d1d1;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #ededed;
}
.hunt-bread-div {
	padding: .4rem 1.3rem;
	margin-bottom: .4rem;
	border-bottom: 1px solid #eee;
	background-color: rgba(87, 213, 198, .618);
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: 600;
}
.comm-main {
  font-family: 'Press Start 2P', cursive;
  margin-top: 5.2rem;
}
.comm-main .ant-list-header {
  border: none !important;
  padding: 0 !important;
}
.nes-container {
  padding: 1rem 1.5rem !important;
  /* overflow: hidden; */
}
.hunt-home-list-title, .hunt-home-list-icon, .hunt-home-list-context {
  font-family: "Times New Roman",Georgia,Serif;
}
.hunt-home-list-header {
  display: table;
  padding: 0 .5rem;
  margin: -1.4rem 0 1rem;
  font-size: 1rem;
  background-color: #f6f6f6;
}
.hunt-home-list-item {
  border: none !important;
}

.comm-left .hunt-home-list-title {
    font-size:1.3rem;
    color: #03332f;
    padding: 0 0.5rem;
    font-weight: 600;
}
.comm-left .hunt-home-list-context {
    color: #252222;
    padding:.5rem;
}
.comm-left .hunt-home-list-icon {
    padding:.5rem 0;
}
.comm-left .hunt-home-list-icon span {
    display: inline-block;
    padding: 0 10px;
    color: #252222;
}
.comm-left .hunt-home-list-icon span i {
    position: relative;
    top: -4px;
}

.nes-lash {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 90px
}

.comm-left .is-dark .hunt-home-list-title {
  font-size:1.3rem;
  color: #b549f3;
  padding: 0 0.5rem;
  font-weight: 600;
}
.comm-left .is-dark .hunt-home-list-context {
  color: #d1d1d1;
  padding:.5rem;
}
.comm-left .is-dark .hunt-home-list-icon {
  padding:.5rem 0;
}
.comm-left .is-dark .hunt-home-list-icon span {
  display: inline-block;
  padding: 0 10px;
  color: #d1d1d1;
}
.comm-left .is-dark.hunt-home-list-icon span i {
  position: relative;
  top: -4px;
}
pre{
  display: block;
  background-color: #283646 !important;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}

pre >code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;

}
code {
  display: inline-block ;
  background-color:#f3f3f3;
  border:1px solid #fdb9cc;
  border-radius:3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color:#4f4f4f;
  margin: 0px 3px;

}

.list-context img{
 width:100% ;
 border-radius:5px;
 border:1px solid #f0f0f0;
 max-width:1000px !important;
 display: block;
 margin:8px  auto ;

}

.nes-lash::before {
  position: absolute;
  top: -6px;
  left: -6px;
  content: "";
  background: 0 0;
  width: 6px;
  height: 6px;
  color: #181818;
  box-shadow: 30px 6px, 36px 6px, 42px 6px, 48px 6px, 54px 6px, 60px 6px, 24px 12px, 30px 12px #ff614e, 36px 12px #ff614e, 42px 12px #ff614e, 48px 12px #f8f8ff, 54px 12px #f8f8ff, 60px 12px #007f7f, 66px 12px, 18px 18px, 24px 18px #ff614e, 30px 18px #ff614e, 36px 18px #ff614e, 42px 18px #ff614e, 48px 18px #f8f8ff, 54px 18px #f8f8ff, 60px 18px #f8f8ff, 66px 18px #f8f8ff, 72px 18px, 18px 24px, 24px 24px #ff614e, 30px 24px #ff614e, 36px 24px #ff614e, 42px 24px #ff614e, 48px 24px #f8f8ff, 54px 24px #f8f8ff, 60px 24px #007f7f, 66px 24px #007f7f, 72px 24px, 78px 24px, 12px 30px, 18px 30px, 24px 30px, 30px 30px #ff614e, 36px 30px #ff614e, 42px 30px #ff614e, 48px 30px #ff614e, 54px 30px #ff614e, 60px 30px #ff614e, 66px 30px #ff614e, 72px 30px #ff614e, 78px 30px #ff614e, 84px 30px, 12px 36px, 18px 36px, 24px 36px, 30px 36px, 36px 36px, 42px 36px, 48px 36px, 54px 36px #ff614e, 60px 36px #ff614e, 66px 36px #ff614e, 72px 36px, 78px 36px, 6px 42px, 12px 42px, 18px 42px, 24px 42px, 30px 42px, 36px 42px, 42px 42px, 48px 42px #ffe3c5, 54px 42px #ffe3c5, 60px 42px, 66px 42px #ffe3c5, 72px 42px, 12px 48px, 18px 48px, 24px 48px #ffe3c5, 30px 48px #ffe3c5, 36px 48px #ffe3c5, 42px 48px, 48px 48px #ffe3c5, 54px 48px #ffe3c5, 60px 48px, 66px 48px #ffe3c5, 72px 48px, 18px 54px, 24px 54px #ffe3c5, 30px 54px #ffe3c5, 36px 54px #ffe3c5, 42px 54px #ffe3c5, 48px 54px #ffe3c5, 54px 54px #ffe3c5, 60px 54px #ffe3c5, 66px 54px #ffe3c5, 72px 54px, 12px 60px, 18px 60px #4169e1, 24px 60px, 30px 60px, 36px 60px #ffe3c5, 42px 60px #ffe3c5, 48px 60px #ffe3c5, 54px 60px #ffe3c5, 60px 60px #ffe3c5, 66px 60px, 12px 66px, 18px 78px #000, 18px 66px #4169e1, 24px 66px, 30px 66px, 36px 66px, 42px 66px,42px 72px #000,42px 72px #000, 48px 66px, 54px 66px, 60px 66px, 12px 72px, 24px 72px, 30px 72px #ffe3c5, 36px 72px #ffe3c5, 42px 78px #000, 18px 72px #4169e1, 48px 72px #4169e1, 54px 72px, 60px 72px, 66px 72px, 6px 78px, 12px 78px #007f7f, 24px 78px, 30px 78px #ffe3c5, 36px 78px #ffe3c5, 36px 78px, 42px 78px #4169e1, 48px 78px #4169e1, 54px 78px, 60px 78px #007f7f, 66px 78px #007f7f, 72px 78px, 6px 84px, 12px 84px #007f7f, 18px 84px #007f7f, 24px 84px, 30px 84px, 36px 84px, 42px 84px, 48px 84px, 54px 84px #007f7f, 60px 84px #007f7f, 66px 84px, 12px 90px, 18px 90px, 54px 90px, 60px 90px;
  transform: rotate(0);
}
